<% @page_title = t :user_login_head %>

<div title="<%= title_helper %>" class="form">
  <div class="form-padding">
    <%= form_for @user do |f| %>
        <table>
          <%= f.text_field :email, size: 30 %><br/>
          <%= f.password_field :password, size: 30 %><br/>
        </table>

        <div class="button-bar">
          <%= button_helper 'login' %>
          <%= link_helper 'login_signup', action: 'signup' %> |
          <%= link_helper 'login_forgot_password', action: 'forgot_password' %>
        </div>
    <% end %>
  </div>
</div>
