<div title="<%= title_helper %>" class="form">
  <%= head_helper error: true %>

  <div class="form-padding">
    <%= form_tag do %>
        <%= render 'edit', user: @user, submit: false %><br/>
        <%= render 'password', submit: false %>

        <div class="button-bar">
          <%= button_helper 'signup' %>
        </div>
    <% end %>
  </div>
</div>
